| {{ formset.management_form }}
- load formset_tags staticfiles

.dynamic-formset(data-prefix="{{ formset.prefix }}")
  script(type='form-template', data-empty-form='')
    | {% escapescript %}
    if tabular
      - include './tabular-row.pug' with form=formset.empty_form
    else
      - include './stacked-row.pug' with form=formset.empty_form
    | {% endescapescript %}
  if tabular
    - include './tabular-table.pug' with formset=formset
  else
    .formset-forms
      for form in formset
        - include './stacked-row.pug' with form=form
  button.btn.btn-info.btn-sm.add-form-row
    if add_button_text
      i.icon-plus-sign.icon-white
      | &nbsp;{{ add_button_text }}
    else
      i.icon-plus.icon-white
  script(type="text/javascript", src="{% static 'django_reusable/js/dynamic-formsets.js' %}")
  script(type="text/javascript").
    const prefix = '{{ formset.prefix }}';
    $(`.dynamic-formset[data-prefix='${prefix}']`).dynamicFormSet({
        prefix: prefix,
        minNum: parseInt('{{ formset.min_num }}'),
        maxNum: parseInt('{{ formset.max_num }}'),
        canDelete: '{{ formset.can_delete }}' === 'True'
    });